<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        .center_text {
            text-align: center;
            font-size: 20pt;
            margin: 5px;
        }
        .bold_text {
            font-weight: bold;
        }
        .card {
            padding: 10px;
            border-style: solid;
            width: 400px;
            text-align: center
        }
        .w100px {
            width: 100px;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="card">
        <div><input type="text" ref="num1" v-model="state.num1" class="center_text"></div>
        <div class="center_text bold_text">+</div>
        <div><input type="text" ref="num2" v-model="state.num2" class="center_text"></div>
        <div><button class="center_text w100px" @click="doAdd()"> = </button></div>
        <div ref="result" class="center_text">{{state.result}}</div>
        <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
</body>
<script>
    // {{}} คือ template
    // v -model คือการใส่ค่าเข้าไปในช่อง เมื่อมีการใส่ค่าจะทำการอัพเดทค่านั้นด้วย
    const { createApp, reactive, computed } = Vue //Functiion
    createApp({
        setup() {
            const state = reactive({
                num1: '1',
                num2: '1',
                result: 2
            }) //Function ใส่ Object เข้าไป
            //const คือการทำเป็น anonymous function
            const result = computed(function() { // เป็น function ที่ใช้ในการอัพเดทค่า
                return parseInt(state.num1) + parseInt(state.num2)
            })
            const doAdd = function(){
                state.result = parseInt(state.num1) + parseInt(state.num2)
            }
            return {state, doAdd, result} // Object ที่ใช้งาน
        }
    }).mount('#app') // #app กับ id="app" มันจะคู่กัน คือทำใน รก app
</script>
</html>
